<footer>
    <div class="footer-wrap">
        <div class="footer-tagline">
            <ul>
                | {% for item in site.data.settings.footer %}
                <small
                    ><a href="{{ item.link }}" target="_blank"
                        >{{ item.text }}</a
                    ></small
                >| {% endfor %}
                <small
                    >Powered by
                    <a class="external" href="https://hydejack.com/"
                        >Hydejack</a
                    >
                    v<span id="_version">9.2.1</span></small
                >
            </ul>
        </div>
    </div>
</footer>
